#undef ZMK_LEADER_SEQUENCE
#define ZMK_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            leader: leader { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };


ZMK_LEADER_SEQUENCE(channelId,  &macro_channelId,     C SPACE)  // ChannelId


#define TAPHOLD_TP(NAME, TAP, HOLD) \
        NAME: NAME { \
        compatible = "zmk,behavior-hold-tap"; \
        flavor = "hold-preferred"; \
        #binding-cells = <2>; \
        tapping-term-ms = <TAPPING_TERM>; \
        quick-tap-ms = <QUICK_TAP_TERM>; \
        require-prior-idle-ms = <QUICK_TAP_TERM>; \
        bindings = <HOLD>, <TAP>; \
    };



